
<div style="font-family: monospace; white-space: pre; line-height: 0.5em; text-align: center" *ngFor="let string of mazeString">
  {{ string }}
</div>
<div style="margin-left: 40%; margin-right: 40%">
  <div>size:</div>
  <input type="number" class="form-control" [(ngModel)]="size">
  <button (click)="move('W')">A</button>
  <button (click)="move('A')">W</button>
  <button (click)="move('D')">S</button>
  <button (click)="move('S')">D</button>
  <button *ngIf="size % 2 != 0" (click)="newMaze()">Give me a new maze please!</button>
</div>
